body h1{
    text-align: center;
    color: orchid;
    background: powderblue;
}
main, p{ 
    font-size: 25px;
    color: salmon;
    background-color: slateblue;
}
main img{
    width: 70px;
    height: 70px;
